#이미 올라간 파일은 gitignore 써도 효과 없음, 새로 추가되는 파일에 대해서만 적용

StudyApi/API_KEYS.py

StudyApi/__pycache__

Crawling/package-lock.json

Crawling/package.json

.vscode/

# BaekJoon/note.py

build/

dist/

JupyterNotebook/test.ipynb

memo.txt

temp.py

temp2.py

temp3.py

friend.py

sang.py

sang.txt

ignore/